@media (max-width: 600px) {
  header {
    position: relative;
  }
  header nav {
    display: none;
    position: absolute;
    top: 70px;
    background-color: #15304c;
    width: 100%;
  }
  .menu-icon {
    display: block;
    color: #fff;
    font-size: 23px;
  }
  nav ul li {
    display: block;
    text-align: center;
    margin: 10px 0;
  }
}

@media (min-width: 601px) {
  header nav {
    display: block !important;
  }
  .menu-icon {
    display: none;
    /* PROBLÉM S FUNKČNOSTÍ S DISPLAY: NONE V STYLE.CSS */
  }
}
